<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ynxweb4.browser">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application android:theme="@style/AppTheme" android:label="YNX Browser" android:icon="@drawable/ic_launcher" android:usesCleartextTraffic="false" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:localeConfig="@xml/locales_config">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask" android:configChanges="locale|layoutDirection|screenSize|orientation|keyboardHidden">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
            <intent-filter android:autoVerify="false"><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="ynxbrowser" android:host="com.ynxweb4.browser" android:path="/auth/callback"/></intent-filter>
        </activity>
        <activity android:name=".PrivateActivity" android:exported="false" android:process=":private" android:excludeFromRecents="true" android:label="YNX Browser Private" android:configChanges="locale|layoutDirection|screenSize|orientation|keyboardHidden" />
    </application>
</manifest>
