<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="YNX Faucet TLS runtime QA" android:allowBackup="false"
    android:networkSecurityConfig="@xml/tls_runtime_test_network_security" />
  <instrumentation
    android:name="com.ynxweb4.faucettransport.BoundedHttpsRuntimeInstrumentation"
    android:targetPackage="com.ynxweb4.faucettransport.tlsruntimeqa"
    android:functionalTest="true" />
</manifest>
