YNX_DATA_FABRIC_LISTEN=127.0.0.1:8094
YNX_DATA_FABRIC_STORE=postgres
YNX_DATA_FABRIC_STATE_PATH=/var/lib/ynx-data-fabric/state.json
YNX_DATA_FABRIC_EVENT_LOG_PATH=/var/lib/ynx-data-fabric/events.jsonl
YNX_DATA_FABRIC_BROKER=nats
YNX_DATA_FABRIC_NATS_URL=tls://nats.data-fabric.svc:4222
YNX_DATA_FABRIC_NATS_STREAM=YNX_EVENTS
YNX_DATA_FABRIC_NATS_CREDENTIALS_FILE=/run/secrets/ynx-data-fabric/nats.creds
YNX_DATA_FABRIC_NATS_CA_FILE=/run/secrets/ynx-data-fabric/ca.pem
YNX_DATA_FABRIC_NATS_CERT_FILE=/run/secrets/ynx-data-fabric/tls.crt
YNX_DATA_FABRIC_NATS_KEY_FILE=/run/secrets/ynx-data-fabric/tls.key
YNX_DATA_FABRIC_POSTGRES_DSN_FILE=/run/secrets/ynx-data-fabric/postgres.dsn
YNX_DATA_FABRIC_DISPATCHER_ID=data-fabric-worker-zone-a-0001
YNX_DATA_FABRIC_INTROSPECTION_URL=http://127.0.0.1:8080/app/session/introspect
YNX_DATA_FABRIC_RATE_LIMIT_PER_MINUTE=120
YNX_DATA_FABRIC_EVENT_KEYS_FILE=/etc/ynx-data-fabric/event-keys.json
YNX_DATA_FABRIC_PRIVACY_KEY_FILE=/etc/ynx-data-fabric/privacy-pseudonymization.key
YNX_DATA_FABRIC_SOURCE_COMMIT=
YNX_DATA_FABRIC_SOURCE_RELEASE=
